/* Vantage Circle UI Color Palette */

$palette: (
  blue: (
    50: '#eaeaed',
    100: '#bdbdc8',
    200: '#9d9dad',
    300: '#707087',
    400: '#545470',
    500: '#29294c',
    600: '#252545',
  ),
  violet: (
    25: '#FCFAFF',
    50: '#F9F5FF',
    100: '#F4EBFF',
    200: '#E9D7FE',
    300: '#D6BBFB',
    400: '#B692F6',
    500: '#9E77ED',
    600: '#7F56D9',
    700: '#6941C6',
  ),
  skyblue: (
    25: '#F5FBFF',
    50: '#F0F9FF',
    100: '#E0F2FE',
    200: '#B9E6FE',
    300: '#7CD4FD',
    400: '#36BFFA',
    500: '#0BA5EC',
    600: '#0086C9',
  ),
  green: (
    25: '#F6FEF9',
    50: '#ECFDF3',
    100: '#D1FADF',
    200: '#A6F4C5',
    300: '#6CE9A6',
    400: '#32D583',
    500: '#12B76A',
    600: '#039855',
  ),
  orange: (
    25: '#FFFCF5',
    50: '#FFFAEB',
    100: '#FEF0C7',
    200: '#FEDF89',
    300: '#FEC84B',
    400: '#FDB022',
    500: '#F79009',
    600: '#DC6803',
  ),
  red: (
    25: '#FFFBFA',
    50: '#FEF3F2',
    100: '#FEE4E2',
    200: '#FECDCA',
    300: '#FDA29B',
    400: '#F97066',
    500: '#F04438',
    600: '#D92D20',
  ),
  neutral: (
    50: '#F9FAFB',
    100: '#F2F4F7',
    200: '#EFF2F5',
    300: '#D0D5DD',
    400: '#98A2B3',
    500: '#5C6C7C',
    600: '#475467',
  ),
);
